body {
    background: #f2f2f2;
    font-size: 16px;
}

.mural {
    height: 550px;
    display: flex;
    align-items: stretch;
}

.toDo,
.doing,
.done {
    display: block;
    box-sizing: border-box;
    background: #fff;
    margin: 1%;
    flex: 1 1 auto;
    flex-basis: 33%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.coluna-cartoes {
    height: 100%;
}

.coluna-titulo {
    background-color: #ff7300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    text-align: center;
    margin-bottom: 8px;
}

.coluna-nome {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    color: white;
    font-weight: 300;
}